<!DOCTYPE html>
<html>
<head>
  <title>User Details</title>
  <script src="/js/user.js"></script>
</head>
<body>
<a href="/">home</a>
  <h1>User Details</h1>
  <div>
    <label for="user-id">User ID:</label>
    <input type="text" id="user-id-input">
    <button id="fetch-button">Fetch</button>
  </div>
  <div id="user-info">
    <h2>User ID: <span id="user-id"></span></h2>
    <p>Name: <span id="user-name"></span></p>
    <p>Email: <span id="user-email"></span></p>
  </div>
  <button id="clear-button">Clear</button>
</body>
</html>
